.u-section-1 .u-sheet-1 {
  min-height: 923px;
}

.u-section-1 .u-group-1 {
  min-height: 920px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -920px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 278px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 85px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-text-3 {
  width: 532px;
  margin: 23px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 649px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 350px;
  min-height: 250px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: 15px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 36px auto 0 33px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 22px 20px 0 33px;
}

.u-section-1 .u-image-1 {
  width: 64px;
  height: 64px;
  margin: 3px 32px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 350px;
  min-height: 250px;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
  margin: -124px auto 0 15px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 36px auto 0 33px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 22px 43px 0 33px;
}

.u-section-1 .u-image-2 {
  width: 64px;
  height: 64px;
  margin: 0 32px 0 auto;
}

.u-section-1 .u-group-4 {
  width: 350px;
  min-height: 250px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: -250px 15px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: 36px auto 0 33px;
}

.u-section-1 .u-text-9 {
  margin: 24px 20px 0 33px;
}

.u-section-1 .u-image-3 {
  width: 64px;
  height: 64px;
  margin: 3px 32px 0 auto;
}

.u-section-1 .u-group-5 {
  width: 350px;
  min-height: 250px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: -79px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: 36px auto 0 33px;
}

.u-section-1 .u-text-11 {
  margin: 24px 43px 0 33px;
}

.u-section-1 .u-image-4 {
  width: 64px;
  height: 64px;
  margin: 3px 32px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 40px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 805px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 13px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 793px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 7px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 7px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1069px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 6px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-right: 43px;
    margin-left: 33px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1066px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 33px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-right: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 10px;
  }

  .u-section-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: 33px;
  }
}